a.sign-up {
    text-decoration: none;
    color: black;
}

.jumbotron {
    background-image: url("../img/background-img.png");
    background-size: cover;
    height: 150px;
    margin: 0;
    border-radius: .5em;
}
/*new comment for green square because my servlet commits aren't showing up*/

