* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #bab9ba;
    margin: 0;
    /*height: 70px;*/
    padding: .5em 0;
}

.top-left-nav li {
    display: inline-block;
    padding: 0 0.75em;
    font-family: 'Work Sans', 'serif';
    font-size: 12px;
}

.top-left-nav {
    padding-left: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

/*nav .top-right-nav li:nth-child(1) {*/
/*    font-family: 'Work Sans', 'serif';*/
/*}*/

.top-right-nav {
    padding-right: 0.25em;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-right-nav li {
    display: inline-block;
    padding: 0 0.75em;
    font-family: 'Work Sans', 'serif';
}

.logo {
    font-family: 'Montserrat', 'serif';
    padding: .2em 0;
    font-size: 3em;
    margin: auto;
}

ul.logo {
    margin: auto;
    padding: 0;
}
