* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #bab9ba;
}

.top-left-nav li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.top-left-nav {
    padding-left: 0.5em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

nav .top-left-nav li {
    font-family: Montserrat, serif;
}

.top-right-nav li {
    display: inline-block;
}
