* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #bab9ba;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-family: Work Sans, serif;
    font-size: 0.7em;
    padding: 0.5em;
}
nav a:hover {
    color: #00a6ff;
}
ul li:nth-child(5) {
    font-family: Montserrat, serif;
    font-size: 3em;
    padding: 0;
    margin: auto;
    display: flex;
}
