body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: .6em 1.5em;
    border-radius: 5px;
    padding: .6em;
    border: 1px solid #d3d3d3;
}

.message-info {
    background-color: rgba(82, 114, 238, 0.29);
    color: #00008B;
}

.message-success {
    background-color: rgba(134, 236, 155, 0.42);
    color: #008000FF;
}

.message-warning {
    background-color: rgba(255, 255, 0, 0.24);
    color: #858502;
}

.message-error {
    background-color: rgba(255, 0, 0, 0.24);
    color: #6b0101;
}